@using Microsoft.AspNet.Identity;
@using PagedList;
@using PagedList.Mvc;

@model  IEnumerable<Twitter.Models.Tweet>
@*@model PagedList.IPagedList<Twitter.Web.ViewModels.Tweets.TweetViewModel>*@


@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Twitter</h1>
    <p class="lead">ASP.NET MVC Web Application.</p>
</div>



<div class="row home-container">
    @*LEFT SIDE BAR*@
    <div class="user-panel-container col-md-3">
    </div>
    @*CENTER PAGE WITH TWITTS*@
    <div class="home-page-twitts-containter col-md-6">
        @Html.DisplayForModel()
@if (this.User.Identity.IsAuthenticated) {


        <table class="dl-horizontal">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TakenDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
            </tr>
 @foreach (var model in Model) { 
     <tr>
         <td>
             @Html.DisplayFor(modelItem => model.Title)
         </td>



         <td>
             @Html.DisplayFor(modelItem => model.Description)
         </td>



         <td>
             @Html.DisplayFor(modelItem => model.TakenDate)
         </td>



         <td>
             @Html.DisplayFor(modelItem => model.Location)
         </td>



         <td>
             @Html.DisplayFor(modelItem => model.Author)
         </td>

     </tr>
            
        </table>
}
        @*PAGINATION*@
        @*<div class="center">
                @Html.PagedListPager(Model, id => Url.Action("Index", new { id }))
            </div>*@
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
    @*RIGHT SIDE BAR*@
    <div class="left-panel-container col-md-3">
        @Html.Partial("_RightSidePanelPartial")
    </div>
</div>




