@using Twitter.Models

@model Tweet

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-title">
                <div>@Model.Id</div>
            </div>
            <div class="panel-body">
                @Model.Description
            </div>
            <div class="panel-footer">
                <div class="row">
                    <span class="col-xs-6">@Model.TakenDate</span>
                    <span class="col-xs-6">Reports: @Model.Reports</span>
                </div>
                @Html.ActionLink("Retweet", "Retweet", "Tweets", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Favorite", "Favorite", "Tweets", new { tweetId = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Report", "Report", "Tweets", new { tweetId = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Reply", "Reply", "Replies", new { tweetId = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
