@model Twitter.Web.ViewModels.Users.UserViewModel

<h2>@Model.FullName</h2>
<span>@Model.UserName</span>

<div>@Model.Summary</div>

<p>@Model.Location</p>
<p>@Model.DateRegister </p>

<div>
    Tweets
    <p></p>
</div>





